<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel = "stylesheet">
    <title>Registration</title>
</head>
<body>
    <section class="vh-100" style="background-color: #000066;">
        <div class="container py-5 h-100" ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
            <div class="card shadow-2-strong" >
              <div class="card-body p-5 text-center" >
                <h2 class="mb-5" style="font-weight: bold">Registration</h2>
                  <form action = "/login" method = "post" class = "needs-validation">
                      {{ form.hidden_tag() }}
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-danger" role="alert" style="width: 70%; margin-left: 15%">
                                  {{msg}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class = "col-10">
                      <div class = "input-group has-validation" style="margin-left: 30px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>
                          {{ form.username (class = "form-control", style="margin-left: 20px; margin-top:-13px;")}}
                      </div>
                    </div>
                    <div class = "col-10">
                      <div class = "input-group has-validation" style="margin-top: 25px; margin-left: 30px">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16" style="margin-top: 15px">
                              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg>
                          {{ form.password (class = "form-control", style="margin-left: 20px; margin-top:-13px;")}}
                      </div>
                    </div>


                    <button class="btn btn-secondary btn-lg btn-block mb-2" type="submit" style="margin-top: 50px" >Register</button>
                  </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
</body>
</html>